name: Deploy Pelican site

on:
  push:
    branches:
      - main  #se ejecuta cuando haces push a main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

    
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

   
      - name: Install dependencies
        run: |
          pip install pelican markdown
      - name: Build Pelican site
        run: |
          pelican content -o output -s pelicanconf.py
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
